// body styling

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    width: 90%;
}

img {
    max-width: 100%;
    display: block;
}

body p {
    font-family: $bodyFooterFont;
    @include fontSize(29);
    line-height: 29px;
        font-weight: lighter;
}

