// body styling

.wrapper {
    margin: 0 auto;
    max-width: 2000px; // set this high since I have a 27" screen
    width: 90%;
}

img {
    max-width: 100%;
    display: block;
}

body p {
    font-family: $bodyFooterFont;
    @include fontSize(29);
    line-height: 29px;
    font-weight: lighter;
    margin-top: 15px;
    text-align: start;
}




