//  footer styling

.footerIconsSection {
    background-image: url(../assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerIcons {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;

    & i {
        color: $primaryColor;
        @include fontSize(50);
    }

    & i h4 {
        color: $secondaryTextColor;
        @include fontSize(30);
    }

    & a h4 {
        transition: 0.4s;
    }

    & a:hover h4,
    & a:focus h4 {
        color: $iconColor;
    }
}

.footerIconsWrapper {
    margin: 0 auto;
    max-width: 2000px;
    width: 90%;
}

.stayUpdated {
    background-color: $contactSectionColor;
    padding: 80px 0;
    color: $secondaryTextColor;

    & h5 {
        @include fontSize(28);
        line-height: 25px;
    }

    & p {
        @include fontSize(18);
        margin: 0;
        line-height: 18px;
        padding-top: 10px;
    }
}

.contactInfoContainer {
    padding-right: 100px;
}

.footerNav {
    font-family: $headingFont;
    text-align: end;

    & li {
        padding-bottom: 5px;
    }

    & a {
        transition: 0.4s;
        padding: 10px;
    }

    & a:focus,
    & a:hover {
        color: $primaryTextColor;
    }
}

.subscribeWrapper,
.footerContact {
    display: flex;
    justify-content: space-between;
}

.subscribeContainer {
    max-width: 50%;

    & p {
        margin-bottom: 10px;
    }
}

.contactContainer {
    max-width: 40%;
}

input#email {
    padding: 5px 0 5px 20px;
    border: none;
    width: 350px;
}

.subscribe {
    border: none;
    padding: 5px 20px;
    background-color: $primaryTextColor;
    color: $secondaryTextColor;
    font-family: $headingFont;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
    display: inline-block;

    &:focus {
    color: $primaryTextColor;
    background-color: $secondaryTextColor;
    }

    &:hover {
    color: $primaryTextColor;
    background-color: $secondaryTextColor;
    }
}

form {
    display: flex;
}

.copyright {
    background-color: $primaryTextColor;
    margin: 0;
    text-align: center;
    color: $secondaryTextColor;
    padding: 10px 0;
    @include fontSize(18);
}

// .copyright styles

.copyright a {
    text-transform: none;
    transition: 0.3s;

    &:hover,
    &focus {
        color: $iconColor;
    }
}

.copyright br {
    display: none;
}