//  footer styling

.footerIconsSection {
    background-image: url(../assets/oscar-aguilar-327500-unsplash@2x.png);
    background-size: cover;
    background-position: center;
    min-height: 40vh;
}

.footerIcons {
    padding-right: 40px;
}

.footerIconsWrapper {
    margin: 0 auto;
    max-width: 2000px;
    width: 90%;
}