// header styling

header {
    background-image: url(../assets/image-1@2x.png);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}

.driveSoloTitle {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: inherit;
}

.socialNav {
    position: absolute;
    right: 30px;
    bottom: 60px;
}

.socialIcons {
    text-align: center;

    & li {
        padding: 5px 0;
        @include fontSize(24);
    }

    & a {
        transition: 0.4s;
        padding: 10px;
    }

    & a:hover,
    & a:focus {
        color: $iconColor;
    }
}

.titleContent h2 {
    color: $iconColor;
    @include fontSize(116.2);
    letter-spacing: 1px;
    line-height: 97px;

    & span {
        display: flex;
        line-height: 40px;
    }

}

.titleContent p {
    font-family: $textFont;
    color: $secondaryTextColor;
    margin-top: 20px;
    margin-bottom: 130px;
    @include fontSize(31);
}