// nav styling

.navBar .wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.navMenu li {
    display: inline-block;
    padding-right: 20px;

    &:last-child {
            padding-right: 0;
        }
}


.navMenu {
    padding: 0;
    margin: 0;
}

.navBar {
    @include fontSize(18);
}

.navMenu {
    font-family: $navFont;
}

.navMenu a,
.driveSoloLogo {
    transition: 0.4s;
}

.navMenu a {
    padding: 10px;
}

.driveSoloLogo:focus,
.driveSoloLogo:hover {
    color: $iconColor;
}

.navMenu a:focus,
.navMenu a:hover {
    color: $iconColor;
}