// Colors from StyleGuide 

$primaryColor: #BA0621;
$primaryTextColor: #0B0101;
$secondaryTextColor: #FFF;
$iconColor: #CC1D36;
$contactSectionColor: #6C0918;
$headingFont: 'Kanit', sans-serif;
$navFont: 'Catamaran', sans-serif;
$bodyFooterFont: 'Roboto', sans-serif;
$textFont: 'Lato', sans-serif;

// Setting General Styles for all words/letters on the page

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-family: $headingFont;
    text-transform: uppercase;
}

h3 {
    @include fontSize(42);
    margin-top: 70px;
}

