@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@600&family=Kanit:ital,wght@1,700&family=Lato&family=Roboto:wght@300;400&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
}

.skipLink {
  background-color: #FFF;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 42px;
  font-size: 2.1rem;
  margin-top: 70px;
}

h3,
h4,
h5 {
  line-height: 43px;
  letter-spacing: 1px;
}

.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
}

.navMenu li {
  display: inline-block;
  padding-right: 20px;
}
.navMenu li:last-child {
  padding-right: 0;
}

.navMenu {
  padding: 0;
  margin: 0;
}

.navBar {
  font-size: 18px;
  font-size: 0.9rem;
}

.navMenu {
  font-family: "Catamaran", sans-serif;
}

.navMenu a,
.driveSoloLogo {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.navMenu a {
  padding: 10px;
}

.driveSoloLogo:focus,
.driveSoloLogo:hover {
  color: #CC1D36;
}

.navMenu a:focus,
.navMenu a:hover {
  color: #CC1D36;
}

.wrapper {
  margin: 0 auto;
  max-width: 2000px;
  width: 90%;
}

img {
  max-width: 100%;
  display: block;
}

body p {
  font-family: "Roboto", sans-serif;
  font-size: 29px;
  font-size: 1.45rem;
  line-height: 29px;
  font-weight: lighter;
  margin-top: 15px;
  text-align: start;
}

header {
  background-image: url(../assets/image-1@2x.png);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.driveSoloTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: inherit;
}

.socialNav {
  position: absolute;
  right: 30px;
  bottom: 60px;
}

.socialIcons {
  text-align: center;
}
.socialIcons li {
  padding: 5px 0;
  font-size: 24px;
  font-size: 1.2rem;
}
.socialIcons a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 10px;
}
.socialIcons a:hover, .socialIcons a:focus {
  color: #CC1D36;
}

.titleContent h2 {
  color: #CC1D36;
  font-size: 116.2px;
  font-size: 5.81rem;
  letter-spacing: 1px;
  line-height: 97px;
}
.titleContent h2 span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 40px;
}

.titleContent p {
  font-family: "Lato", sans-serif;
  color: #FFF;
  margin-top: 20px;
  margin-bottom: 130px;
  font-size: 31px;
  font-size: 1.55rem;
}

.newsArticles h3 {
  text-align: center;
}

.newsArticleGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}
.newsArticleGallery li {
  width: 30%;
  margin: 70px 0;
}

.highlights .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.highlights .wrapper h3 {
  margin: 0;
  line-height: 21px;
}

.highlightsContentContainer {
  margin-left: 30px;
  max-width: 70%;
  position: relative;
}
.highlightsContentContainer .readMore {
  position: absolute;
  bottom: 0;
}

.readMore {
  border: none;
  padding: 10px 15px;
  background-color: #BA0621;
  color: #FFF;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  font-size: 29px;
  font-size: 1.45rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.readMore:focus {
  color: #BA0621;
  background-color: #FFF;
}
.readMore:hover {
  color: #BA0621;
  background-color: #FFF;
}

.newModels {
  margin-top: 70px;
}

.contentContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contentWrapper {
  width: 40%;
}
.contentWrapper span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 20px;
}

.imgContainer {
  width: 50%;
}

.footerIconsSection {
  background-image: url(../assets/oscar-aguilar-327500-unsplash@2x.png);
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footerIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}
.footerIcons i {
  color: #BA0621;
  font-size: 50px;
  font-size: 2.5rem;
}
.footerIcons i h4 {
  color: #FFF;
  font-size: 30px;
  font-size: 1.5rem;
}
.footerIcons a h4 {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.footerIcons a:hover h4, .footerIcons a:focus h4 {
  color: #CC1D36;
}

.footerIconsWrapper {
  margin: 0 auto;
  max-width: 2000px;
  width: 90%;
}

.stayUpdated {
  background-color: #6C0918;
  padding: 80px 0;
  color: #FFF;
}
.stayUpdated h5 {
  font-size: 28px;
  font-size: 1.4rem;
  line-height: 25px;
}
.stayUpdated p {
  font-size: 18px;
  font-size: 0.9rem;
  margin: 0;
  line-height: 18px;
  padding-top: 10px;
}

.contactInfoContainer {
  padding-right: 100px;
}

.footerNav {
  font-family: "Kanit", sans-serif;
  text-align: end;
}
.footerNav li {
  padding-bottom: 5px;
}
.footerNav a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 10px;
}
.footerNav a:focus, .footerNav a:hover {
  color: #0B0101;
}

.subscribeWrapper,
.footerContact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribeContainer {
  max-width: 50%;
}
.subscribeContainer p {
  margin-bottom: 10px;
}

.contactContainer {
  max-width: 40%;
}

input#email {
  padding: 5px 0 5px 20px;
  border: none;
  width: 350px;
}

.subscribe {
  border: none;
  padding: 5px 20px;
  background-color: #0B0101;
  color: #FFF;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  display: inline-block;
}
.subscribe:focus {
  color: #0B0101;
  background-color: #FFF;
}
.subscribe:hover {
  color: #0B0101;
  background-color: #FFF;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.copyright {
  background-color: #0B0101;
  margin: 0;
  text-align: center;
  color: #FFF;
  padding: 10px 0;
  font-size: 18px;
  font-size: 0.9rem;
}

.copyright a {
  text-transform: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.copyright a:hover, .copyright afocus {
  color: #CC1D36;
}

.copyright br {
  display: none;
}

.menu-wrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  visibility: hidden;
}
.menu-wrap .toggle {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-wrap .hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .hamburger > div:before, .menu-wrap .hamburger > div:after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
.menu-wrap .hamburger > div:after {
  top: 10px;
}

.menu-wrap .toggle:checked + .hamburger > div {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.menu-wrap .toggle:checked + .hamburger > div:before, .menu-wrap .toggle:checked + .hamburger > div:after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu-wrap .toggle:checked:hover + .hamburger > div {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu-wrap .toggle:checked ~ .menu {
  visibility: visible;
}
.menu-wrap .toggle:checked ~ .menu > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition-duration: 0.75s;
          transition-duration: 0.75s;
}
.menu-wrap .toggle:checked ~ .menu > div > div {
  opacity: 1;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu-wrap .menu > div {
  background: rgba(24, 39, 51, 0.85);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div ul.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-wrap .menu > div > div ul.socialIcons li {
  padding: 10px 20px;
}
.menu-wrap .menu > div > div > ul > li {
  font-family: "Kanit", sans-serif;
  font-size: 35px;
  font-size: 1.75rem;
  padding-bottom: 20px;
}
.menu-wrap .menu > div > div > ul > li a {
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li a:hover, .menu-wrap .menu > div > div > ul > li a:focus {
  color: #CC1D36;
}

@media (max-width: 1080px) {
  .navBar,
.socialNav .socialIcons {
    visibility: hidden;
  }
}

@media (max-width: 1080px) {
  .menu-wrap {
    visibility: visible;
  }
}

@media (max-width: 1080px) {
  .titleContent h2 {
    font-size: 80px;
    font-size: 4rem;
    line-height: 60px;
  }
}

@media (max-width: 1080px) {
  .titleContent p {
    font-size: 25px;
    font-size: 1.25rem;
    margin-top: 5px;
    margin-bottom: 140px;
  }
}

@media (max-width: 1080px) {
  .highlights .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .highlights .wrapper .highlightsImgContainer img {
    width: 100%;
    max-height: 80vh;
    display: block;
    margin: 0 auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .highlights .wrapper h3 {
    margin: 60px 0;
    line-height: 28px;
  }
}

@media (max-width: 1080px) {
  .highlightsContentContainer {
    margin: 0;
    max-width: 100%;
  }
  .highlightsContentContainer .readMore {
    position: relative;
  }
}

@media (max-width: 1080px) {
  .newModels .contentContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 1080px) {
  .contentContainer {
    margin-bottom: 60px;
  }
  .contentContainer h3 {
    margin: 50px 0 20px 0;
    text-align: center;
  }
  .contentContainer p {
    text-align: center;
  }
  .contentContainer button {
    margin-top: 20px;
  }
}

@media (max-width: 1080px) {
  .imgContainer {
    max-width: 2000px;
    width: 100%;
  }
  .imgContainer img {
    max-height: 80vh;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (max-width: 1080px) {
  .contentWrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contentWrapper span {
    display: block;
    line-height: 20px;
  }
}

@media (max-width: 1080px) {
  .footerIcons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 0;
  }
  .footerIcons .fa-solid {
    margin: 30px 0;
  }
}

@media (max-width: 1080px) {
  .subscribeWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1080px) {
  .subscribeContainer {
    max-width: 100%;
    margin-bottom: 30px;
  }
  .subscribeContainer h5 {
    text-align: center;
  }
  .subscribeContainer p {
    text-align: center;
  }
}

@media (max-width: 1080px) {
  form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  header {
    background-repeat: no-repeat;
    background-position: 41%;
    min-height: 91vh;
  }
}

@media (max-width: 500px) {
  form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 500px) {
  input#email {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
}

@media (max-width: 500px) {
  .subscribe {
    padding: 10px;
    margin-top: 10px;
  }
}

.contactInfoContainer {
  padding-right: 0px;
}

@media (max-width: 500px) {
  .car3 {
    display: none;
  }
}

@media (max-width: 500px) {
  .newsArticleGallery li {
    width: 48%;
  }
}

@media (max-width: 500px) {
  .copyright br {
    display: block;
  }
}

@media (max-width: 500px) {
  .copyright span {
    display: none;
  }
}